/* --------------------
       Fonts
--------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

/* --------------------
       Common CSS
--------------------- */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

/* --------------------
     Navigation Bar
--------------------- */
header {
  background: #2d25a0;
  margin: 0px;
  padding: 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  width: 1141px;
  margin: auto;
  padding-top: 42px;
}
.menu {
  margin: 0px;
  padding: 0px;
  display: flex;
}
.menu li {
  list-style: none;
  margin-right: 36px;
}
.menu li a:hover {
  color: darkgrey;
}
.menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
.menu-icon {
  display: none;
}
.btn {
  text-decoration: none;
  color: #ffffff;
  background: #e02c6d;
  padding: 10px 24px;
  display: inline-flex;
  align-items: center;
}
.btn-icon {
  margin-right: 8px;
  font-size: 24px;
  line-height: 24px;
}
.btn-txt {
  font-size: 16px;
  line-height: 24px;
}
.btn:hover {
  color: darkgrey;
}
/* --------------------
        Banner
--------------------- */
.banner {
  display: flex;
  justify-content: center;
  padding: 50px 0px 86px 0px;
}
.banner-txt {
  margin-right: 100px;
}
.banner-txt h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
  width: 485px;
  height: 230px;
  margin-bottom: 27px;
}
.btn-arrow {
  margin-left: 8px;
  font-size: 24px;
  line-height: 24px;
}
.banner-img:hover {
  position: relative;
  transform: scale(1.1) rotate(15deg);
  transition-duration: 0.5s;
}

/* --------------------
        Players
--------------------- */
.players {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
  width: 1050px;
  margin: auto;
  margin-top: 70px;
}
.player {
  width: 300px;
  padding: 15px 15px 33px 15px;
}
.player:hover {
  position: relative;
  transform: scale(1.05);
  transition-duration: 0.5s;
}
.player h3 {
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 10px;
}
.player p {
  font-size: 16px;
  line-height: 26px;
  color: #6c6c6c;
}

/* --------------------
      Highlights
--------------------- */
.highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 165px;
}
.highlight-txt {
  width: 469px;
  margin-right: 65px;
}
.highlight-txt h1 {
  font-size: 48px;
  line-height: 60px;
  color: #0a0826;
  margin-top: 0px;
  margin-bottom: 8px;
}
.highlight-txt p {
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
  margin-top: 0px;
  margin-bottom: 24px;
}

/* --------------------
      Footer
--------------------- */
footer {
  width: 484px;
  margin: 158px auto 63px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 100px;
  margin-right: 35px;
}
.logo-txt {
  font-family: Niconne;
  font-size: 72.5806px;
  line-height: 72px;
  color: #10437a;
}
.social-icon {
  width: 170px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 20px auto;
}
.fab {
  font-size: 17px;
  color: #969bab;
}
footer p {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  margin: 0px;
}

/* -----------------------------------------
      Media Quary For Mobile Responsive
------------------------------------------ */

@media only screen and (max-width: 768px) {
  /* --------------------
      Navbar
--------------------- */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    padding-top: 33px;
  }
  .menu ul {
    margin: 0px;
    padding: 0px;
    display: block;
    height: 100%;
    margin-right: 0px;
  }
  .menu li {
    margin-right: 0px;
  }
  .menu-icon {
    display: block;
    margin-right: 0px;
  }
  .fa-bars {
    font-size: 30px;
    color: #ffffff;
  }
  .menu-item {
    display: none;
  }
  /* --------------------
      banner
--------------------- */
  .banner {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
    padding: 50px 0px;
  }
  .banner-txt {
    width: 278px;
    margin: auto;
  }
  .banner-txt h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #ffffff;
    width: 278px;
    height: 138px;
    margin-bottom: 27px;
    margin-top: 0px;
  }
  .banner-img {
    margin: auto;
  }
  .banner-img img {
    width: 330px;
  }

  /* --------------------
        Players
--------------------- */
  .players {
    display: grid;
    grid-template-columns: repeat(1, 330px);
    grid-row-gap: 24px;
    width: 330px;
    margin: auto;
    margin-top: 50px;
  }

  /* --------------------
      Highlights
--------------------- */
  .highlight {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    width: 330px;
    margin: auto;
    margin-top: 60px;
  }
  .highlight-txt {
    width: 330px;
    margin-right: 0px;
  }
  .highlight-txt h1 {
    font-size: 30px;
    line-height: 40px;
    width: 294px;
    height: 80px;
  }
  .highlight-img img {
    width: 330px;
  }
  /* --------------------
      Footer
--------------------- */
  footer {
    width: 100%;
    margin: auto;
    margin-top: 43px;
    margin-bottom: 50px;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    height: 63px;
    margin-right: 25px;
  }
  .logo-txt {
    font-size: 30px;
    line-height: 30px;
  }
}
